<!-- section_content__v1  ⬇ -->
<div class="section_content__v1" id="learn_more">
	<h2>An Introduction to Coding with Jewelbots</h2>
	<h3>Spend Spring Break Getting a Head Start – Ages: 8-14</h3>

  <p>Spring Break means time off from school, but that doesn’t have to mean time off from learning! Jewelbots Spring Break Maker Camp gives kids a fun, hands-on activity that will give them the foundations to continue to build their confidence and coding skills.</p>
    
	<h4 class="note">Secure Your Spot Now – Space Limited!</h4>
	 <ul>
        <li><h3>Personalized Learning</h3></li>
        <li><h3>Real-life Coding Skills</h3></li>
        <li><h3>Speakers from the Industry</h3></li>
        <li><h3>DIY Arts and Crafts</h3></li>
      </ul>	

</div><br /><br /><br />
<!-- section_content__v1  ⬆ -->

<style>
.section_content__v1 {
	display:                 block;
	position:                relative;
	width:                   100%;
	height:                  auto;
	min-height:              700px;
	margin:                  0 0 0 0;
	padding:                 60px 30px 90px 30px;
	background-color:        rgba(255,255,255,1.0);
}

.section_content__v1 h2 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 0 0 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        50px;
	line-height:      50px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(0,205,180,1.0);
}
.section_content__v1 h3 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 auto 0 auto;
	padding:          10px 20px 10px 20px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        30px;
	line-height:      30px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            #555;
}
.section_content__v1 h4 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           30px 0 -10px 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        25px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,55,125,1.0);
}
.section_content__v1 p {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	max-width:        800px;
	margin:           0 auto 0 auto;
	padding:          25px 20px 0px 20px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        20px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            #555;
}

.section_content__v1 h4.instructors {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           60px 0 0 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        35px;
	line-height:      35px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(120,125,120,1.0);
}
.section_content__v1 ul.instructors {
	display:                 block;
	position:                relative;
	width:                   auto;
	height:                  auto;
	margin:                  40px 0 0 0;
	padding:                 0 0 0 0;

	text-align:              center;
}
.section_content__v1 ul.instructors li {
	display:                 table-cell;
	position:                relative;
	width:                   30%;
	height:                  auto;
	margin:                  0 0 0 0;
	padding:                 0 10px 20px 10px;
}
.section_content__v1 ul.instructors li img {
	display:                 block;
	position:                relative;
	width:                   200px;
	height:                  200px;
	margin:                  0 auto 0 auto;
	padding:                 0 0 0 0;
	border:                  solid 4px rgba(235,240,245,1.0);
	-webkit-border-radius:   100px;
	-moz-border-radius:      100px;
	border-radius:           100px;
}
.section_content__v1 ul.instructors li p.name {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	max-width:        800px;
	margin:           15px 0 0 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        25px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(120,125,120,1.0);
}
.section_content__v1 ul.instructors li p.title {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 0 0 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      700;
	font-size:        15px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   uppercase;
	text-align:       center;
	color:            rgba(60,65,70,1.0);
}
.section_content__v1 ul.instructors li p.bio {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	max-width:        800px;
	margin:           0 auto 0 auto;
	padding:          25px 20px 0px 20px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        15px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(160,165,170,1.0);
}

.section_content__v1 div.hr {
	display:          block;
	position:         relative;
	width:            300px;
	height:           10px;
	margin:           60px auto 0 auto;
	padding:          0 0 0 0;
	background-color: rgba(240,240,240,1.0);

	-webkit-border-radius:   5px;
	-moz-border-radius:      5px;
	border-radius:           5px;
}
.section_content__v1 h4.note {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           30px 0 10px 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        25px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,55,125,1.0);
}

@media (max-width: 1279px) {}
@media (max-width: 1023px) {
	.section_content__v1 ul.instructors li {
		width:                   40%;
	}
}
@media (max-width: 767px) {
	.section_content__v1 {
		padding:                 40px 15px 60px 15px;
	}

	.section_content__v1 ul.instructors li {
		display:                 block;
		width:                   100%;
		padding:                 0 10px 40px 10px;
	}
}
</style>