<!-- section_mood__v2  ⬇ -->
<div class="section_mood__v2">
</div>
<!-- section_mood__v2  ⬆ -->

<style>
.section_mood__v2 {
	display: block;
	position: relative;
	width: 100%;
	height: 1000px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #50d7ec;
	background: url({{ 'JBS_event__section_mood__background_2.jpg' | asset_url }}) no-repeat center center;;

	-webkit-background-size: cover;
       -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}


@media (max-width: 1279px) {}
@media (max-width: 1023px) {}
@media (max-width: 767px) {
	.section_mood__v2 {
		display: block;
		position: relative;
		width: 100%;
		height: 1000px;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		background-color: #50d7ec;
		background: url({{ 'JBS_event__section_mood__background_2_mobile.jpg' | asset_url }}) no-repeat center center;;
	}
}
</style>