
<div class="inner-welcome" id="page-content-wrapper">
<div class="copy">
  <h2>Coding your Jewelbots Solo</h2>
</div>

<p>Only one you know with a Jewelbot? That’s fine, you can still have fun with coding! Solo Coding mode exposes all the different Jewelbots interactions for customization.
 <a href="http://alpha.jewelbots.com/c/cool-stuff">Here</a> are some fun things people have made with their Jewelbots. </p>

<p>If you want to pair with another device you need to revert to either the Friendship Library in order to have that capability on the device.  </p>
<img class="quote" src="{{ 'solo.gif' | asset_url }}" height="30" />

</div>
