
<div class="inner-welcome" id="page-content-wrapper">
<div class="copy">
  <h2>Coding your Jewelbots with Friends</h2>
</div>

<p>Coding with friends is even more fun when you have your Jewelbots! With the Jewelbots friendship library you
can supercharge the default functionality of your Jewelbots. Want to make your Jewelbots go to rainbow mode when the whole crew is together?
Do it! Share what you make <a href="http://alpha.jewelbots.com/c/cool-stuff" target="blank">here.</a></p>

<p>This library keeps the default functionality of your Jewelbots and lets you code around it. It is more limited than the Solo Coding
library as things like a long button press is reserved for friending. </p>

<p>To code for your Jewelbots in friendship mode, you will select the "Jewelbots Friendship Coding" board in the Tools->Boards menu before coding your device.
This will allow you to pair devices, use them to send secret messages, and add custom code that works for you and your friends!</p>
	<img class="quote" src="{{ 'friendship.gif' | asset_url }}" height="30" />
</div>
