<!-- section_content  ⬇ -->
<div class="section_content__v2">
	<h2>Summer Maker Camp – The Details</h2>
	<h3>5 Days of fun and hands on learning.</h3>
	<p>Jewelbots, the friendship bracelet that teaches kids to code, will be hosting a 5 day session where kids will dive into the Arduino open source platform, learn basic coding concepts, learn to program their device and even come up with their own functionality. The camp will also feature keynote speakers from the tech field, lunch and instruction from the Jewelbots team and 2 Jewelbots for the students to keep.</p>
	<h4>The Coding Day Camp in Detail:</h4>

	<ul class="content">
		<li>5 days</li>
		<li>Ages: 8-14</li>
		<li>Personalized Learning</li>
		<li>Real-life Coding Skills</li>
		<li>Speakers from the Industry</li>
		<li>DIY Arts and Crafts</li>
		<li>We will provide 2 Jewelbots for the students to code with in our workshops and take home!</li>
	</ul>

	<p class="note">Each child should bring a laptop and an open mind.<br /> If no laptop is available, we can provide one.</em></p>
	<div class="hr">&nbsp;</div>
	<h4 class="note">Secure Your Spot Now – Space Limited!</h4>
	<p class="note">We will also be offering need based full scholarships, for more info, check out our <a href="mailto:hi@jewelbots.com?subject=Jewelbots Maker Camp Scholarship">scholarship application</a>.</p>
</div>
<!-- section_content  ⬆ -->

<style>
.section_content__v2 {
	display:                 block;
	position:                relative;
	width:                   100%;
	height:                  auto;
	min-height:              700px;
	margin:                  0 0 0 0;
	padding:                 60px 30px 120px 30px;
	background-color:        rgba(80,215,235,1.0);

	-webkit-border-bottom-left-radius:  25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-bottomleft:      25px;
	-moz-border-radius-bottomright:     25px;
	border-bottom-left-radius:          25px;
	border-bottom-right-radius:         25px;
}

.section_content__v2 h2 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 0 0 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        50px;
	line-height:      50px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,255,255,1.0);
}
.section_content__v2 h3 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 auto 0 auto;
	padding:          10px 20px 10px 20px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        30px;
	line-height:      30px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,255,255,1.0);
}
.section_content__v2 h4 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           60px 0 0 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        35px;
	line-height:      35px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,255,255,1.0);
}
.section_content__v2 p {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	max-width:        1000px;
	margin:           0 auto 0 auto;
	padding:          25px 20px 0px 20px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        25px;
	line-height:      30px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,255,255,1.0);
}

.section_content__v2 ul.content {
	display:                 block;
	position:                relative;
	width:                   auto;
	height:                  auto;
	margin:                  20px 0 0px 0;
	padding:                 0 0 0 0;

	text-align:              center;
	list-style: disc;
}
.section_content__v2 ul.content li {
list-style-type: disc;
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	max-width:        1000px;
	margin:           0 auto 0 auto;
	padding:          0 0 0 0;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        25px;
	line-height:      35px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,255,255,1.0);
}
.section_content__v2 ul.content li:before {
	content: '\2022\A0\A0'
}

.section_content__v2 div.hr {
	display:          block;
	position:         relative;
	width:            300px;
	height:           10px;
	margin:           60px auto 0 auto;
	padding:          0 0 0 0;
	background-color: rgba(240,240,240,1.0);
	-webkit-border-radius:   5px;
	-moz-border-radius:      5px;
	border-radius:           5px;
}
.section_content__v2 h4.note {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           30px 0 -10px 0;
	padding:          0 0 0 0;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      500;
	font-size:        25px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(235,35,105,1.0);
}
.section_content__v2 p.note {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	max-width:        700px;
	margin:           0 auto 0 auto;
	padding:          25px 20px 0px 20px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        20px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(255,255,255,1.0);
}
.section_content__v2 p.note a {
	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      500;
	text-decoration:  underline;
	color:            rgba(255,255,255,1.0);

	-webkit-transition: .2s ease-in-out;
	   -moz-transition: .2s ease-in-out;
		 -o-transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
}
.section_content__v2 p.note a:hover {
	text-decoration:  none;
}


@media (max-width: 1279px) {}
@media (max-width: 1023px) {}
@media (max-width: 767px) {
	.section_content__v2 {
		padding:                 40px 15px 60px 15px;

		-webkit-border-bottom-left-radius:  0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft:      0;
		-moz-border-radius-bottomright:     0;
		border-bottom-left-radius:          0;
		border-bottom-right-radius:         0;
	}
}
</style>
