
<div class="inner-welcome" id="page-content-wrapper">
<div class="copy">
  <h2>Coding your Jewelbots Solo</h2>
</div>

<p>Only one you know with a Jewelbot? That’s fine, you can still have fun with coding! Solo Coding mode exposes all the different Jewelbots interactions for customization.</p>
<p>To code for your Jewelbots in solo mode, you will <b>select the "Jewelbots Solo Coding" board in the Tools->Boards menu before coding your device.</b></p>
Found a friend with a Jewelbot and want to code together or pair them? Make sure to upload code from the Jewelbots Friendship Library first. The "Jewelbots Solo Coding"
board opens up a lot more of the device to be customized, but it also removes the ability to pair your device and use it for messaging.
 <a href="http://alpha.jewelbots.com/c/cool-stuff" target="blank">Here</a> are some fun things people have made with their Jewelbots. </p>

<p>If you want to pair with another device you need to revert to the Friendship Coding (or the Firmware Update) board in order to have that capability on the device.  </p>
<img class="quote" src="{{ 'solo.gif' | asset_url }}" height="30" />

</div>
