<!-- section_content__v1  ⬇ -->
<div class="section_content__sale">

	<ul class="classes">
		<li class="left">
			<div class="header">
				<div class="background_color"></div>
				<h4>Half Day</h4>
			</div>
          <p class="info">Each child should bring a laptop and an open mind.
					If no laptop is available, we can provide one.  </p>
			<p class="detail"><i class="ion-calendar"></i> July 17-22 (Monday-Friday)</p>
			<p class="detail"><i class="ion-clock"></i> 9AM-1PM</p>
			<p class="detail"><i class="ion-location"></i>New York, NY, TBD</p>
			<p class="price"><span>5-Day Camp:</span> $450</p>
			<p class="note">Includes 2 Jewelbots</p>
			<a class="cta_primary" href="https://jewelbots.com/products/summer-coding-camp/?variant=29439146385" title="Book your spot" target="_self">Register</a>
		</li>
		<li class="right">
			<div class="header">
				<div class="background_color"></div>
				<h4>Full Day</h4>
			</div>
          <p class="info">Each child should bring a laptop and an open mind.
					If no laptop is available, we can provide one. </p>
			<p class="detail"><i class="ion-calendar"></i> July 17-22 (Monday-Friday)</p>
			<p class="detail"><i class="ion-clock"></i> 9AM-5PM</p>
			<p class="detail"><i class="ion-location"></i>New York, NY, TBD</p>
			<p class="price"><span>5-Day Camp:</span> $850</p>
			<p class="note">Includes lunch and 2 Jewelbots</p>
			<a class="cta_primary" href="https://jewelbots.com/products/summer-coding-camp/?variant=30058291665" title="Register" target="_self">Register</a>
		</li>
	<ul>
	<div class="clear">&nbsp;</div>

</div>
<!-- section_content__v1  ⬆ -->

<style>
.section_content__sale {
	display:                 block;
	position:                relative;
	width:                   100%;
	height:                  auto;
	margin:                  -150px 0 90px 0;
	padding:                 0 0 0 0;
}

.section_content__sale ul.classes {
	display:                 block;
	position:                relative;
	width:                   auto;
	height:                  auto;
	margin:                  0 0 0 0;
	padding:                 0 0 0 0;
	border:                  solid 4px rgba(240,240,240,1.0);

	text-align:              center;
	background-color:        rgba(255,255,255,1.0);

	-webkit-border-radius:   25px;
	-moz-border-radius:      25px;
	border-radius:           25px;

	-webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
       -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
}

.section_content__sale ul.classes li.left {
	display:                 inline-block;
	position:                relative;
	width:                   50%;
	min-height:              500px;
	height:                  auto;
	margin:                  0 0 0 0;
	padding:                 0 0 70px 0;
	border-right:            dashed 1px rgba(140,140,140,1.0);
}
.section_content__sale ul.classes li.left .header {
	display:                 block;
	position:                relative;
	width:                   100%;
	height:                  120px;
	margin:                  0 0 0 0;
	padding:                 0 0 0 0;
	background:              url( {{ 'JBS_event__section_sale__background_1.jpg' | asset_url }} ) no-repeat center center;

	-webkit-background-size: cover;
       -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

	-webkit-border-top-left-radius: 25px;
	-moz-border-radius-topleft:     25px;
	border-top-left-radius:         25px;

	overflow:                hidden;
}
.section_content__sale ul.classes li.left .header h4 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 auto 0 auto;
	padding:          10px 20px 10px 20px;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      700;
	font-size:        40px;
	line-height:      120px;
	letter-spacing:   1px;
	text-indent:      0;
	text-transform:   uppercase;
	text-align:       center;
	color:            rgba(255,255,255,1.0);

	text-shadow:      0px 1px 2px rgba(0,0,0,0.5);

	z-index:          2;
}
.section_content__sale ul.classes li.left .header .background_color {
	display:          block;
	position:         absolute;
	width:            100%;
	height:           100%;
	left:             0px;
	top:              0px;
	right:            0px;
	bottom:           0px;
	margin:           0 0 0 0;
	padding:          0 0 0 0;
	background-color: rgba(80,215,235,0.4);

	z-index:          1;
}

.section_content__sale ul.classes li.right {
	display:                 block;
	position:                relative;
	float:                   right;
	width:                   50%;
	min-height:              500px;
	height:                  auto;
	margin:                  0 0 0 0;
	padding:                 0 0 70px 0;
}
.section_content__sale ul.classes li.right .header {
	display:                 block;
	position:                relative;
	width:                   100%;
	height:                  120px;
	margin:                  0 0 0 0;
	padding:                 0 0 0 0;
	background:              url( {{ 'JBS_event__section_sale__background_1.jpg' | asset_url }} ) no-repeat center center;

	-webkit-background-size: cover;
       -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

	-webkit-border-top-right-radius: 25px;
	-moz-border-radius-topright:     25px;
	border-top-right-radius:         25px;

	overflow:                hidden;
}
.section_content__sale ul.classes li.right .header h4 {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 auto 0 auto;
	padding:          10px 20px 10px 20px;

	font-family:      "museo-sans-rounded",sans-serif;
	font-style:       normal;
	font-weight:      700;
	font-size:        40px;
	line-height:      120px;
	letter-spacing:   1px;
	text-indent:      0;
	text-transform:   uppercase;
	text-align:       center;
	color:            rgba(255,255,255,1.0);

	text-shadow:      0px 1px 2px rgba(0,0,0,0.5);

	z-index:          2;
}
.section_content__sale ul.classes li.right .header .background_color {
	display:          block;
	position:         absolute;
	width:            100%;
	height:           100%;
	left:             0px;
	top:              0px;
	right:            0px;
	bottom:           0px;
	margin:           0 0 0 0;
	padding:          0 0 0 0;
	background-color: rgba(255,100,0,0.4);

	z-index:          1;
}

.section_content__sale ul.classes p {
	display:          block;
	position:         relative;
	width:            auto;
	height:           auto;
	margin:           0 auto 0 auto;
	padding:          0 0 0 0;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        20px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(160,165,170,1.0);
}
.section_content__sale ul.classes p.info {
	padding:          30px 30px 30px 30px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        20px;
	line-height:      25px;
	letter-spacing:   0px;
	text-indent:      0;
	text-transform:   none;
	text-align:       center;
	color:            rgba(160,165,170,1.0);
}
.section_content__sale ul.classes p.detail {
	font-weight:      500;
	font-size:        22px;
	line-height:      30px;
	color:            rgba(120,125,130,1.0);
}
.section_content__sale ul.classes p.detail i {
	padding:          0 5px 0 0;

	color:            rgba(0,205,180,1.0);
}
.section_content__sale ul.classes p.price {
	padding:          30px 20px 0 20px;

	font-weight:      700;
	font-size:        20px;
	line-height:      25px;
	color:            rgba(80,90,100,1.0);
}
.section_content__sale ul.classes p.price span {
	font-weight:      300;
}
.section_content__sale ul.classes p.note {
	padding:          5px 20px 30px 20px;

	font-family:      "museo-sans",sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        16px;
	line-height:      20px;
	color:            rgba(160,165,170,1.0);
}

.section_content__sale ul.classes a.cta_primary {
	display: block;
	position: relative;
	width: 240px;
	height: 60px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	background-color: rgba(255,60,0,1.0);

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;

	-webkit-transition: .2s ease-in-out;
	   -moz-transition: .2s ease-in-out;
		 -o-transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;
			transition: .2s ease-in-out;

			-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
			   -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
					box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);

	opacity: 1.0;
	z-index: 11;

	font-family: "museo-sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	letter-spacing: 1px;
	text-indent: 0px;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255,255,255,1.0);
}
.section_content__sale ul.classes a.cta_primary:hover {
	background-color: rgba(255,255,255,1.0);
	border: solid 2px rgba(255,60,0,1.0);

	font-weight: 700;
	text-decoration: none;
	color: rgba(255,60,0,0.6);

	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.0);
	   -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.0);
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.0);
}


@media (max-width: 1279px) {}
@media (max-width: 1023px) {
}
@media (max-width: 767px) {
	.section_content__sale {
		margin:                  -50px 0 0 0;
		padding:                 40px 0 0 0;
	}

	.section_content__sale ul.classes {
		border:                  solid 0px rgba(240,240,240,1.0);
		-webkit-border-radius:   0;
		-moz-border-radius:      0;
		border-radius:           0;
	}
	.section_content__sale ul.classes li.left {
		display:                 block;
		position:                relative;
		width:                   100%;
		height:                  auto;
		margin:                  0 0 0 0;
		padding:                 0 0 70px 0;
		border-right:            dashed 0px rgba(140,140,140,1.0);
	}
	.section_content__sale ul.classes li.left .header {
		-webkit-border-top-left-radius: 0;
		-moz-border-radius-topleft:     0;
		border-top-left-radius:         0;
	}
	.section_content__sale ul.classes li.right {
		display:                 block;
		position:                relative;
		width:                   100%;
		height:                  auto;
		margin:                  0 0 0 0;
		padding:                 0 0 70px 0;
		border-right:            dashed 0px rgba(140,140,140,1.0);
	}
	.section_content__sale ul.classes li.right .header {
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topright:     0;
		border-top-right-radius:         0;
	}
}
</style>
