<div class="events">
    <div class="events-header">{{ 'class-header.png' | asset_url | img_tag }}</div>
  <div class="intro">
    <div class="action1">{{ 'action1.png' | asset_url | img_tag }}</div>
    <span>
    <h1>Spend Spring Break Getting a Head Start </h1>
      <p>Spring Break means time off from school, but that doesn’t have to mean time off from learning! Jewelbots Spring Break Maker Camp gives kids a fun, hands-on activity that will give them the foundations to continue to build their confidence and coding skills.</p>
	  <ul>
        <li><h2>Personalized Learning</h2></li>
        <li><h2>Real-life Coding Skills</h2></li>
        <li><h2>Speakers from the Industry</h2></li>
        <li><h2>DIY Arts and Crafts</h2></li>

      </ul>
    </span>
  <div class="action3">{{ 'action3.png' | asset_url | img_tag }}</div>
  </div>
  <div class="details">
    <div class="learn">
      <h1>Learn with Industry Leaders</h1>
      <p>Jewelbots, the friendship bracelet that teaches kids to code, will be hosting a 5 day session where kids will dive into the Arduino open source platform, learn basic coding concepts, learn to program their device and even come up with their own functionality. The camp will also feature keynote speakers from the tech field, lunch and instruction from the Jewelbots team and 2 Jewelbots for the students to keep. </p>
      <p>Each child should bring a laptop and an open mind. If no laptop is available, we can provide one.
       </p>

    </div>
    <div class="buy">
	 <ul>
      <li>April 10-14 Monday-Friday</li>
      <li>Session I 9a-12p, Session II 12p-3p</li>
      <li>Microsoft, 460 Ave of the Americas, 40th Floor</li>
      <li>$700 per session, includes lunch and 2 Jewelbots</li>
      </ul>

    </div>



   </div>
</div>
