.section_copy,
html {
    background-color: rgba(255, 255, 255, 1)
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    padding: 0
}

@media (max-width:767px) {
    html {
        padding: 70px 0 0
    }
}

#content_container,
#site_container,
.clear {
    display: block;
    position: relative;
    width: 100%;
    padding: 0
}

#site_container {
    /*max-width:1440px;*/
    height: auto;
    margin: 0 auto;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

#site_container.blurred {
    -webkit-filter: blur(10px);
    filter: blur(10px)
}

#content_container {
    height: 100%;
    margin: 0 auto;
    text-align: left;
    z-index: 2
}

.clear {
    height: 0;
    margin: 0;
    clear: both
}

.hidden {
    display: none
}

.section_copy,
.section_copy .opening {
    display: block;
    height: auto;
    width: 100%
}

strong {
    font-weight: 700
}

em {
    font-style: italic
}

.section_copy .opening h2,
.section_copy .opening p {
    position: relative;
    font-style: normal;
    letter-spacing: 0;
    text-indent: 0;
    text-transform: none
}

.section_copy {
    position: relative;
    margin: 0;
    padding: 75px 85px;
    text-align: left
}

.section_copy .opening {
    position: relative;
    margin: 0 0 25px;
    padding: 0 0 15px;
    border-bottom: solid 2px rgba(0, 205, 180, 1)
}

.section_copy .opening h2,
.section_copy .opening p,
.section_copy h2 {
    display: block;
    height: auto;
    margin: 0
}

.section_copy .opening h2 {
    width: 100%;
    padding: 0 0 15px;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: rgba(0, 205, 180, 1)
}

.section_copy .opening p {
    width: auto;
    max-width: 900px;
    padding: 0 0 25px;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: rgba(100, 100, 100, 1)
}

.section_copy h2,
.section_copy h3 {
    width: 100%;
    font-family: museo-sans-rounded, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-indent: 0;
    text-transform: uppercase;
    color: rgba(60, 60, 60, 1);
    position: relative
}

.section_copy h2 {
    padding: 25px 0 15px;
    font-size: 24px;
    line-height: 30px;
    text-align: left
}

.section_copy h3,
.section_copy p {
    height: auto;
    font-size: 16px;
    margin: 0;
    display: block
}

.section_copy h3 {
    padding: 0;
    line-height: 40px;
    text-align: left
}

.section_copy p,
.section_copy ul,
.section_copy ul li {
    letter-spacing: 0;
    text-transform: none;
    text-align: left;
    font-family: museo-sans, sans-serif;
    font-style: normal;
    text-indent: 0
}

.section_copy p {
    position: relative;
    width: auto;
    max-width: 700px;
    padding: 0 0 25px;
    font-weight: 300;
    line-height: 25px;
    color: rgba(100, 100, 100, 1)
}

.section_copy ul,
.section_copy ul li {
    font-weight: 500;
    font-size: 14px;
    padding: 0
}

.section_copy a {
    font-weight: 500;
    text-decoration: underline;
    color: rgba(0, 150, 155, 1)
}

.section_copy a:hover {
    color: rgba(100, 100, 100, 1)
}

.section_copy p.small {
    margin: 0;
    padding: 0 0 10px;
    font-size: 14px;
    line-height: 22px
}

.section_copy ul {
    margin: 5px 0 10px 25px;
    line-height: 30px;
    color: rgba(0, 150, 155, 1);
    list-style: disc
}

.section_copy ul li {
    margin: 0;
    line-height: 20px;
    color: rgba(60, 60, 60, 1);
    list-style: disc
}

.section_copy .hr {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin: 0 0 25px;
    padding: 0;
    border-bottom: solid 1px rgba(0, 205, 180, 1)
}

.section_copy .hr.dashed {
    border-bottom: dashed 1px rgba(0, 205, 180, 1)
}

.section_copy a.cta {
    display: block;
    position: relative;
    width: 260px;
    height: 40px;
    margin: 15px 0 50px;
    padding: 0 25px;
    background-color: rgba(255, 60, 0, 1);
    border: 2px solid rgba(255, 60, 0, .6);
    color: rgba(255, 255, 255, 1);
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 1px;
    text-indent: 0;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    transition: .1s ease-in-out
}

.section_copy a.cta:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 60, 0, .6);
    color: rgba(255, 60, 0, .6);
    -webkit-box-shadow: 0 1px 2px 0 transparent;
    -moz-box-shadow: 0 1px 2px 0 transparent;
    box-shadow: 0 1px 2px 0 transparent
}

.section_copy img {
    display: block;
    position: relative;
    float: right;
    width: 500px;
    height: auto;
    margin: 0 0 0 30px;
    padding: 0
}

@media (max-width:1023px) {
    .section_copy img {
        display: block;
        position: relative;
        float: right;
        width: 40%;
        height: auto;
        margin: 0 0 0 30px;
        padding: 0
    }
}

@media (max-width:767px) {
    .section_copy,
    .section_copy img {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: 0
    }
    .section_copy {
        padding: 50px 25px;
        text-align: left
    }
    .section_copy img {
        float: none;
        padding: 30px 0
    }
}

nav.sidebar a {
    z-index: 999
}

.welcome {
    float: right;
    width: 100%;
    height: 100%
}

.welcome iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    min-width: 100%;
    font-weight: 400;
    min-height: 700px
}

.dropdown li {
    position: relative
}

ul.sub-menu ul {
    position: absolute;
    left: 0;
    top: 100%
}

.top-bar.expanded {
    overflow: visible
}

.top-bar-section ul {
    position: absolute;
    right: 0
}

.main,
nav.sidebar {
    -webkit-transition: margin .2s ease-out;
    -moz-transition: margin .2s ease-out;
    -o-transition: margin .2s ease-out;
    transition: margin .2s ease-out
}

.navbar-default {
    background-color: #DEF9F2
}

.navbar-default.main {
    padding: 10px 10px 0
}

@media (max-width:767px) {
    .welcome {
        width: 0;
        height: 0%;
        margin: 0 auto;
        background: 0 0
    }
    .welcome iframe {
        padding-top: 0;
        display: none
    }
    .nav-wrapper {
        width: 100%
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        font-size: 9px
    }
    nav.sidebar {
        padding-top: 30px
    }
    .caret {
        display: none!important
    }
    .nav>li>a {
        padding: 5px!important
    }
    .dropdown-menu>li>a {
        padding: 3px 5px!important
    }
    .navbar-toggle-always {
        @media (min-width: 768px) {
            display: block!important;
            background-color: transparent;
            border: 1px solid #333333;
        }
        .zero-margins
    }
}

@media (min-width:767px) {
    .navbar-nav,
    .sub-page {
        padding-top: 70px
    }
    .welcome {
        width: 80%
    }
    nav.sidebar:hover+.main {
        margin-left: 200px
    }
    .navbar>.container-fluid .navbar-brand,
    nav.sidebar.navbar.sidebar>.container .navbar-brand,
    nav.sidebar:hover {
        margin-left: 0
    }
    .showopacity img {
        height: 30px
    }
    nav.sidebar .navbar-brand,
    nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0
    }
    nav.sidebar a {
        padding-right: 13px
    }
    nav.sidebar .navbar-nav>li:first-child {
        border-top: 1px #e5e5e5 solid
    }
    nav.sidebar .navbar-nav>li {
        border-bottom: 1px #e5e5e5 solid
    }
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    nav.sidebar .container-fluid,
    nav.sidebar .navbar-collapse {
        padding: 0
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777
    }
    nav.sidebar {
        width: 200px;
        height: 100%;
        float: left;
        margin-bottom: 0
    }
    nav.sidebar li {
        width: 100%
    }
    .forAnimate {
        opacity: 0
    }
}

@media (min-width:1330px) {
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent
    }
    .navbar-default.main {
        width: 15%;
        margin-left: 200px
    }
    nav.sidebar {
        margin-left: 0;
        float: left
    }
    nav.sidebar .forAnimate {
        opacity: 1
    }
    .welcome {
        width: 80%
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #CCC;
    background-color: transparent
}

nav:hover .forAnimate {
    opacity: 1
}

.navbar-default.section {
    padding-left: 15px
}

.jbot_onboarding img {
    max-width: 1200px;
    height: auto
}

.nav-wrapper {
    display: inline-block;
    min-width: 15%;
    height: 100%;
    float: left;
    min-height: 700px
}

#shopify-section-JBS_howto__section_iframe_container {
    position: relative
}

.additional-checkout-button--paypal-express {
    margin-top: 20px;
}
