/**
THIS IS THE NEW NEW JEWELBOTS SITE - YEAY!!!
**/

/*
	display:          block;
	position:         relative;
	float:            xxx;
	left:             xxx;
	right:            xxx;
	top:              xxx;
	bottom:           xxx;
	width:            xxx;
	max-width:        xxx;
	height:           xxx;
	max-height:       xxx;
	margin:           xxx;
	padding:          xxx;
	background-color: rgba(xxx,xxx,xxx,1.0);
	background-image: url(001_ASSETS/xxxx/xxxx.jpg);
	border:           xxx;

	font-family:      "freight-sans-pro", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style:       normal;
	font-weight:      300;
	font-size:        10px;
	line-height:      10px;
	letter-spacing:   1px;
	text-indent:      0;
	text-transform:   uppercase;
	text-align:       center;
	color:            rgba(255,255,255,1.0);

	-webkit-transition: .3s ease-in-out;
	   -moz-transition: .3s ease-in-out;
	     -o-transition: .3s ease-in-out;
	    -ms-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;

	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
	        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
	text-shadow:        0px 0px 10px rgba(0,0,0,1);

	z-index:  9999;
	cursor:   pointer;
	overflow: hidden;
*/


/* @group ----- SITE ---------------------------------------- */
html {
	background-color:             rgba(245,245,245,1.0);
	font-size:                    100%;
	-webkit-text-size-adjust:     100%;
	padding:                      0 0 0 0;
}
@media (max-width: 767px) {
	html {
		padding:             70px 0 0 0;
	}
}
body {}


#site_container {
	display:                 block;
	position:                relative;
	width:                   100%;
	max-width:               1440px;
	height:                  auto;
	margin:                  0 auto 0 auto;
	padding:                 0 0 0 0;
/*
	-webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
       -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.3);
*/
/*
	 -webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 25px;
		 -moz-border-radius-topleft: 25px;
		-moz-border-radius-topright: 25px;
			 border-top-left-radius: 25px;
			border-top-right-radius: 25px;
*/
		-webkit-transition: .5s ease-in-out;
		   -moz-transition: .5s ease-in-out;
		     -o-transition: .5s ease-in-out;
		    -ms-transition: .5s ease-in-out;
		        transition: .5s ease-in-out;
}
#site_container.blurred {
	-webkit-filter: blur(10px);
			filter: blur(10px);
}


@media (max-width: 1279px) {}
@media (max-width: 1023px) {}
@media (max-width: 767px) {}
/* @end */
/* @group ----- CONTENT ------------------------------------- */
#content_container {
	display:    block;
	position:   relative;
	width:      100%;
	height:     100%;
	margin:     0 auto 0 auto;
	padding:    0 0 0 0;

	text-align: left;

	z-index:    2;
}

.clear {
	display:                 block;
	position:                relative;
	width:                   100%;
	height:                  0px;
	margin:                  0 0 0 0;
	padding:                 0 0 0 0;
	clear:                   both;
}
.hidden {
	display:                 none;
}
strong {
	font-weight:             700;
}
em {
	font-style:              italic;
}


@media (max-width: 1279px) {}
@media (max-width: 1023px) {}
@media (max-width: 767px) {}
/* @end */
/* @group ----- section_copy -------------------------------- */
.section_copy {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	padding: 75px 85px 75px 85px;
	background-color: rgba(255,255,255,1.0);

	text-align: left;
}

.section_copy .opening {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 0 25px 0;
	padding: 0 0 15px 0;
	border-bottom: solid 2px rgba(0,205,180,1.0);
}
.section_copy .opening h2 {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	padding: 0 0 15px 0;

	font-family: "museo-sans-rounded",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 0;
	text-indent: 0;
	text-transform: none;
	color: rgba(100,100,100,1.0);
	color: rgba(0,205,180,1.0);
}
.section_copy .opening p {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	max-width: 900px;
	margin: 0 0 0 0;
	padding: 0 0 25px 0;

	font-family: "museo-sans", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0px;
	text-indent: 0;
	text-transform: none;
	text-align: left;
	color: rgba(100,100,100,1.0);
}

.section_copy h2 {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	padding: 25px 0 15px 0;

	font-family: "museo-sans-rounded",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0;
	text-indent: 0;
	text-transform: uppercase;
	text-align: left;
	color: rgba(60,60,60,1.0);
}
.section_copy h3 {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

	font-family: "museo-sans-rounded",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0;
	text-indent: 0;
	text-transform: uppercase;
	text-align: left;
	color: rgba(60,60,60,1.0);
}
.section_copy p {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	max-width: 700px;
	margin: 0 0 0 0;
	padding: 0 0 25px 0;

	font-family: "museo-sans", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0px;
	text-indent: 0;
	text-transform: none;
	text-align: left;
	color: rgba(100,100,100,1.0);
}
.section_copy a {
	font-weight: 500;
	text-decoration: underline;
	color: rgba(0,150,155,1.0);
}
.section_copy a:hover {
	color: rgba(100,100,100,1.0);
}

.section_copy p.small {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;

	font-size: 14px;
	line-height: 22px;
}
.section_copy ul {
	margin: 5px 0 10px 25px;
	padding: 0 0 0 0;

	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0;
	text-indent: 0;
	text-transform: none;
	text-align: left;
	color: rgba(0,150,155,1.0);

	list-style: disc;
}
.section_copy ul li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;

	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0;
	text-indent: 0;
	text-transform: none;
	text-align: left;
	color: rgba(0,150,155,1.0);
	color: rgba(60,60,60,1.0);

	list-style: disc;
}

.section_copy .hr {
	display: block;
	position: relative;
	width: 100%;
	height: 1px;
	margin: 0 0 25px 0;
	padding: 0 0 0 0;
	border-bottom: solid 1px rgba(0,205,180,1.0);
}
.section_copy .hr.dashed {
	border-bottom: dashed 1px rgba(0,205,180,1.0);
}

.section_copy a.cta {
	display: block;
	position: relative;
	width: 260px;
	height: 40px;
	margin: 15px 0 50px 0;
	padding: 0 25px 0 25px;
	background-color: rgba(255,60,0,1.0);
	border: solid 2px rgba(255,60,0,0.6);
	color: rgba(255,255,255,1.0);

	font-family: "museo-sans", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 36px;
	letter-spacing: 1px;
	text-indent: 0;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

  -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
		  border-radius: 3px;

	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);

	-webkit-transition: .1s ease-in-out;
	   -moz-transition: .1s ease-in-out;
	     -o-transition: .1s ease-in-out;
	    -ms-transition: .1s ease-in-out;
	        transition: .1s ease-in-out;
}
.section_copy a.cta:hover {
	background-color: rgba(255,255,255,1.0);
	border: solid 2px rgba(255,60,0,0.6);

	color: rgba(255,60,0,0.6);

	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.0);
	   -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.0);
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.0);
}
.section_copy img {
	display: block;
	position: relative;
	float: right;
	width: 500px;
	height: auto;
	margin: 0 0 0 30px;
	padding: 0 0 0 0;
}


@media (max-width: 1279px) {}
@media (max-width: 1023px) {
	.section_copy img {
		display: block;
		position: relative;
		float: right;
		width: 40%;
		height: auto;
		margin: 0 0 0 30px;
		padding: 0 0 0 0;
	}
}
@media (max-width: 767px) {
	.section_copy {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		margin: 0 0 0 0;
		padding: 50px 25px 50px 25px;

		text-align: left;
	}
	.section_copy img {
		display: block;
		position: relative;
		float: none;
		width: 100%;
		height: auto;
		margin: 0 0 0 0;
		padding: 30px 0 30px 0;
	}
}

/* section for side menu */
.welcome {
	float:right;
	width: 100%;
	height: 100%;
}
.welcome iframe{
	display: block;
	min-width: 100%;
	height:100%;
	padding-top: 70px;
	font-weight: 400;
	right:0;
	top: 0;
	min-height: 700px;
}

.dropdown li{ position:relative; }
ul.sub-menu ul { position:absolute;left:0;top:100%; }

.top-bar.expanded {
overflow:visible;
}
.top-bar-section ul {
position: absolute;
right: 0;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.navbar-default.main{
  padding: 10px 10px 0 10px;
}
nav.sidebar{
    padding-top: 70px;
		height: 700px;
}

@media (max-width: 767px){

	.welcome {
		float:left;
		width:80%;
		margin-left: 90px;
		position: fixed;
	}
	.welcome iframe{
		padding-top:0px;
	}
	.nav-wrapper
  {
		width:20%;
	}

  .navbar-default .navbar-nav .open .dropdown-menu>li>a
	{
		font-size: 9px;
	}
	nav.sidebar{
		padding-top: 30px;
	}
	.caret{
		display: none !important;
	}
	.nav>li>a{
		padding: 5px !important;
	}
	.dropdown-menu>li>a {
		padding: 3px 5px !important;
	}

}
@media (min-width: 767px) {

	.welcome {
		width:80%;
	}
  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  .showopacity img{
    height: 30px;
  }
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a{
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  nav.sidebar{
    width: 200px;
    height: 100%;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover{
    margin-left: 0px;
  }

  .forAnimate{
    opacity: 0;
  }


}

@media (min-width: 1330px) {

  .welcome{
		width: 85%;
	}
	.navbar {
	    position: relative;
	    min-height: 50px;
	    margin-bottom: 20px; /** here **/
	    border: 1px solid transparent;
	}

  .navbar-default.main{
    width: 15%;
    margin-left: 200px;
  }

  nav.sidebar{
    margin-left: 0px;
    float: left;
		height: 700px;

  }

  nav.sidebar .forAnimate{
    opacity: 1;
  }
	.welcome {
		width:85%
	}
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
.navbar-default.section{
  padding-left: 15px;
}


.jbot_onboarding img{
	max-width:1200px;
	height:auto;
}

.nav-wrapper
{
	  display: inline-block;
    min-width: 15%;
		height:100%;
    float: left;
    min-height: 700px;
}
/* @end */
