{% layout 'theme.JBS' %}

{% section 'JBS_404__section_hero__img' %} <!-- part of shopify template, visit page: https://jewelbots.myshopify.com/admin/themes/173464593/editor#/pages/template_1 -->

<!-- section_copy  ⬇ ..ASSETS/JBS__style.css -->
<div class="section_copy" id="learn_more">
	<div class="opening">
		<h2>Page not found – 404</h2>
		<p>We could not find you what you were looking for.</p>
	</div>
	<h3>Contacting Us</h3>
	<p>
		Jewelbots<br />
		50 Eldrige St, 5th Floor<br />
		New York, NY 10002<br />
		USA<br /><br />

		<a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a><br />
		(862) 201-3065
	</p>
</div>
<!-- section_copy  ⬆ -->