{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">

<h1>Welcome, Traveler!</h1>
We're so happy to have you join us in your quest to learn all about how to have fun with your Jewelbots. If you'd like to watch a 10 minute, soup-to-nuts "Hello World" video about how to code your Jewelbots for the first time, you can watch that <a href="http://www.youtube.com/watch?v=FT5mBt-rBI4" target="_blank">here.</a> This guide is designed to help you learn all about your Jewelbots and make your experience as smooth and easy as possible. If you hit any snags on your journey, or want to share your progress you can join us on <a href="http://community.jewelbots.com" target="blank"> our community site.</a>




<span class="jbot_onboarding">
{{ 'go_section_meet__background_1_large.jpg' | asset_url | img_tag }}</span>

<a href="/pages/aboutJB">.</a>
<a href="/pages/charmsbands">.</a>
<a href="/pages/friends_setup">.</a>
</div>
<div style="clear: both;"></div>
