{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">

<h3>What's Included in your Jewelbot Package?</h3>
<ul>
  <li><p>1 Jewelbot with Removable Charm</p></li>
  <li><p>2 Bands (Orange & Gray)</p></li>
  <li><p>1 USB Cable</p></li>
  <li><p>Jewelbots Quick Start Guide</p></li>
</ul>

<span class="jbot_onboarding">
{{ 'go_section_meet__background_1_large.jpg' | asset_url | img_tag }}</span>

<h3>
<h4>USB Connection</h4>
  <p>When you remove the charm of the Jewelbot, you can see a micro USB port which you can connect to your computer using the USB cable that came with your Jewelbot. This is how you will charge your Jewelbot and upload code to it!
  </p>
<h4>Bluetooth</h4>
  <p>Bluetooth is what allows your Jewelbot to connect with other nearby Jewelbots!</p>
<h4>Magic Button</h4>
  <p>The one button on your Jewelbot which is located right in the center of your charm is called the <i>Magic Button</i>! This one button is all you need to control your bot! The Magic Button can turn your Jewelbot on and off, send messages to your friends, and so much more!
  </p>
  <ul>
    <li><b>To turn your Jewelbot on:</b> Press the magic button. It's that easy!</li>
    <li><b>To turn your Jewelbot off:</b> Hold down the magic button for 5 seconds and then let go. You should see the colored lights flash and fade out!</li>
<h4>Reset Button</h4>
  <p>You can reset your Jewelbot to set it back to it's original state. To do this, remove the charm and press the tiny button on the side of the Jewelbot with the point of a pencil. <i>Note:</i> This will erase/delete all your friends and custom code on your Jewelbot.<p>
<h4>LED Lights</h4>
  <p>Your Jewelbot has 4 LED lights that you can program to light up in specific colors and patterns. You can specify which LED you want to turn which color, or program them all to do the same thing! <p>

<h4>Removable Charm</h4>
  <p>The plastic charm is meant to protect your Jewelbot but is also super cute! You can remove the charm if you want to access the micro USB port, or clean the charm.  Read more about <a href="/pages/charms-and-bands/"> charms</a>
  </p>


</div>
<div style="clear: both;"></div>
