{% layout 'theme.JBS.support' %}
{% section 'JBS_howto__section_sidebar' %}

<div class="welcome" id="page-content-wrapper">
{% section 'JBS_howto__section_iframe_container' %}
</div>
<div style="clear: both;"></div>
