{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">
<span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<div class="section_faqs">
<h2>Jewelbots FAQs</h2>
	<p class="subheadline">If you don't see your question here please head over to our <a href="http://community.jewelbots.com" target="blank">forums</a> and we will get back to you ASAP.</p>
	<p>For more help, please contact us at <a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a> for more help.</p>
	<div><!-- BATTERY - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - -->
		<h4 class="topic">Battery</h4>
		<div class="question_container">
			<h4 class="question">How do I charge my Jewelbot?</h4>
			<div class="answer">
				Turn on your Jewelbot. Lift charm up vertically while twisting slightly. Then plug micro USB into the available port on the Jewelbot. Afterwards, plug the USB on the other side of the cable into a power source.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How long should I charge my Jewelbot?</h4>
			<div class="answer">
				Approximately 2-3 hours if fully drained of battery.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How long does the battery last before I have to charge it again?</h4>
			<div class="answer">
				The Jewelbot can last about 10 hours if constantly on and in use before being charged again.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How will I know if my Jewelbot is charging or not?</h4>
			<div class="answer">
				Your Jewelbot has to be turned on when charging. If properly being charged, the Jewelbot will have a red light on.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How will I know if my Jewelbot is done charging?</h4>
			<div class="answer">
				When fully charged, the Jewelbot will have a green light when the battery is full.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">My Jewelbot is not charging! Why?!</h4>
			<div class="answer">
				Some suggestions to solve this would be:
				<ul>
					<li><span>•</span> Press the Magic Button briefly to make sure your Jewelbot is not in Sleep Mode. Your Jewelbot has to be on in order for it to show notification that it is charging.</li>
					<li><span>•</span> Make sure you are using a high quality micro USB; preferably the one we sent with your original package!</li>
					<li><span>•</span> Try connecting your Jewelbot to a high quality power source, such as directly to your computer rather than a external USB hub.</li>
					<li><span>•</span> Try removing other USB accessories from your computer, and only having the Jewelbot plugged in.</li>
				</ul>
				If none of these help, please email us at hi@jewelbots.com
			</div>
		</div><!--//question_container -->
	</div>

	<div class="clear"></div>

	</div>
	<script>
	document.getElementById('section_newsletter').style.visibility="hidden";
	</script>
