{% layout 'theme.JBS.blank' %}

{% if page.url contains 'friendship' %}
  {% include 'JBS__support__about__friendship' %}
{% else %}
  {% include 'JBS__support__about__solo' %}
{% endif %}


<!--//video -->
<div class="clear"></div>


</div>
