{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">

<h1>Coming Soon</h1>

For now, <a href="http://community.jewelbots.com/c/learn-to-code-your-jewelbot">head here </a>to see our documented API.
</div>
<div class="clear"></div>
