{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper"><span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<div class="copy">
  <h2><span></span>Hi! Before we can get started, you need to charge your Jewelbot.</h3>

  <h3><span>1. </span>Lift the charm to reveal the micro USB opening.</li></h3>

  <h3><span>2. </span>Plug your Jewelbot into a power source using a USB cord.</li></h3>

  <h3><span>3. </span>Press the Magic Button to turn on your Jewelbot.</h3>

    <ul>
    <p><li>This is the main button of the Jewelbot.</li></p>
    <p><li>If you are charging your Jewelbot when it is completely dead, this step is unnecessary. Your Jewelbot will turn on automatically with a rainbow animation and then a red notification light.</li></p>
    <p><li>If not, then make sure your Jewelbot is on when charging. A red light will appear when it is turned on.</li></p>
    </ul>
  </p>

  <h3><span>4. </span>Keep it plugged in until the red light turns green.</h3>
    <p>
    <ul>
    <li>A green light means a full battery.</li>
    </ul>
    </p>

  <h3>Full charge: 2 hours. Minimum charge: 5 minutes.</h3>
    <p>
    <ul>
      <li>Your Jewelbot can be turned on after charging for 5 minutes, but just like a phone, the longer you charge it the longer you will be able to use it.</li>
    </ul>
    </p>

  <h3>Now you're ready to go!</h3>

</div><!--//copy -->
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bGhUdu-akh0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div><!--//video -->
<div class="clear"></div>
<div class="hr dashed"></div>
</div><!--//instructions -->
</div>
<div class="clear"></div>
