{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">
<span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<h2 class="topic"><span>How to pair your Jewelbot with a friend?</span></h2>
<!--<p></p>-->
<div class="instructions">
<div class="copy">
  <p>Pairing your Jewelbot with a friend can happen completely out of the box without a computer or phone!  </p>
  <p>In order to do this, both devices must have the same firmware earlier or later than 1.0.4 which was published 3/1/17.
  If you are unsure, update them both.</p>

  If you receive a device in the child proof plastic packaging, please make sure to complete the <a href="/pages/firmware">Update Firmware</a> step before pairing or messaging.
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pQFnPt3i_Bk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div><!--//video -->
  <h3><span>1. Make sure your Jewelbot is unplugged.</span></h3>
  <p> This is because pressing the Magic Button while your Jewelbot is plugged will put your Jewelbot into Upload Mode, which is for coding. </p>

  <h3><span>2. </span>Make sure your Jewelbot is on.</h3>
    <p>You can turn it on by pressing the Magic Button. It should light up in rainbow animation mode to show it turning on.</p>

  <h3><span>3. </span>Put your devices in Pairing Mode by holding down the Magic button for 2 seconds</h3>
    <p>Your Jewelbot will slowly flash all white lights when in the correct mode. Also, remember it's 2 full seconds (1 mississippi...2 mississippi...)! </p>

  <h3><span>4. </span>Have the two jewelbots within two feet of each other in Pairing Mode.</h3>
    <p> When both devices have found each other in pairing mode, they will start cycling through 4 single colors.</p>
    <p> If your device has firmware that is post v1.0.4 one device will cycle colors and one will stay all white. This is to make sure when a color is chosen each device is set to the same color.</p>
    <p> If your devices aren't pairing, you may want to check that they both are on the same firmware by updating them.</p>

  <h3><span>5. </span>Choose a Friendship Color!</h3>
    <p>The Jewelbot will cycle through 4 colors options that could be your Friendship Color. The Friendship Color is how your Jewelbots remember each other. You can have multiple friends as the same Friendship Color to create friend groups! However, Jewelbots can only pair two at a time! </p>
    <p> Devices must be paired the same color in order to ensure they can send messages.</p>
  <h3><span>6. </span>Push the Magic Button when your Friendship Color shows up in the cycle.</h3>
    <p>On the Jewelbot that is cycling through the colors, select your Friendship Color when it is showing.  Both Jewelbots will flash the Friendship Color you have chosen if done correctly.  Restart from step 2 if an error occurs.</p>

</div><!--//copy --></div>
</div>
<div class="clear"></div>
<script>
document.getElementById('section_newsletter').style.visibility="hidden";
</script>
