{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">
<div class="copy">
  <h2><span></span>Hi! Before we can get started, you need to charge your Jewelbot.</h3>

  <h3><span>1. </span>Lift the charm to reveal micro USB opening</h3>

  <h3><span>2. </span>Plug your Jewelbot into a power source using a USB cord</h3>

  <h3><span>3. </span>Press the Magic Button of your Jewelbot</h3>
    <p>If you are charging your Jewelbot when it is completely dead, this step is unnecessary. Your Jewelbot will turn on automatically with a rainbow animation and then a red notification light.</p>
    <p>If not, then make sure your Jewelbot is on when charging in order to get the red notification light.</p>

  <h3>Full charge: 2 hours. Minimum charge: 5 minutes.</h3>
    <p>Jewelbot can be turned on after charging for 5 minutes, but keep it plugged in and allow it to charge for longer. Just like a phone, the longer it’s charging the longer you will be able to use it.</p>

  <h3>Now you're ready to go!</h3>
</div><!--//copy -->
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bGhUdu-akh0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div><!--//video -->
<div class="clear"></div>
<div class="hr dashed"></div>
</div><!--//instructions -->
</div>
<div class="clear"></div>
