{% layout 'theme.JBS' %}

{% section 'JBS_jobs__section_hero__img' %} <!-- part of shopify template, visit page: https://jewelbots.myshopify.com/admin/themes/173464593/editor#/pages/template_1 -->

<!-- section_copy  ⬇ ..ASSETS/JBS__style.css -->
<div class="section_copy" id="learn_more">
	<div class="opening">
		<h2>Status</h2>
		<p>No jobs currently open.</p>
	</div>
	<h3>About Jewelbots</h3>
	<p>Our goal is to make products that expose young girls to technology and make technology accessible to their interests. We want to build better software and have fun doing it. We believe strongly that diverse teams build better products.</p>
	<div class="hr dashed"></div>
	<h3>Legal Stuff</h3>
	<p>Jewelbots Inc. does not discriminate in employment matters on the basis of race, color, religion, gender, national origin, age, military service eligibility, veteran status, sexual orientation, marital status, disability, or any other protected class. We support workplace diversity.</p>
	<div class="hr dashed"></div>
	<h3>Contacting Us</h3>
	<p>
		Jewelbots<br />
		50 Eldrige St, 5th Floor<br />
		New York, NY 10002<br />
		USA<br /><br />

		<a href="mailto:support@jewelbots.com">support@jewelbots.com</a><br />
		(862) 201-3065
	</p>
</div>
<!-- section_copy  ⬆ -->