{% layout 'theme.JBS.blank' %}


<div class="inner-welcome" id="page-content-wrapper">
<div class="copy">
  <h2>Here is how you code the Jewelbots LEDs</h2>
</div>

<p>The LED class constructs objects that represent a single LED attached to the physical Jewelbot.
There are 4 LEDs total that are connected to the Jewelbot.</p>


<h3>COMPONENT INTIALIZATION</h3>
<div class="sample_code">
LED led;
// Naming the variable type and then the name of variable.
</div>

<p>In order to use the LED functions, you first need to initialize the library. This tells your program that you want to code
around the LEDs, then you can use the functions below to do cool things with LEDs!</p>

<p>The different functions are called the "API", because they are the way you interact with the device. APIs are ways you can work
with different interfaces, sometimes in a computer and sometimes online. </p>

<h3>PARAMETERS</h3>
<div class="led_image">
{{ 'LEDs_parameters.png' | asset_url | img_tag }}
</div>
<div class="led_image">
{{ 'LED_image.jpeg' | asset_url | img_tag }}
</div>
<h3>API</h3>

<h4>.turn_on_single(LED_Pos led, ColorLabel color)</h4>
<p>This function turns on a single LED of the Jewelbot.</p>
<div class="">
LED led;
led.turn_on_single(SW, GREEN);
</div>

<h4>.turn_on_all(ColorLabel color)</h4>
<p>This function turns on all the LEDs on the Jewelbot.</p>
<div class="sample_code">
LED led;
led.turn_on_all(GREEN);
</div>


<h4>.turn_off_single(LED_Pos led)</h4>
<p>This function turns off a single LED of the Jewelbot.</p>
<div class="sample_code">
LED led;
led.turn_off_single(NE);
</div>


<h4>.turn_off_all()</h4>
<p>This function turns off all the LEDs on the Jewelbot.</p>
<div class="sample_code">
LED led;
led.turn_off_all();
</div>

<h4>.flash_single(LED_Pos led, ColorLabel color, uint8_t milliseconds)</h4>
<p>This function turns on the LED for a set amount of time and then turns off.</p>
<div class="sample_code">
LED led;
led.flash_single(SE, BLUE, 1000);
</div>


<h4>.flash_all(ColorLabel color, uint8_t milliseconds)</h4>
<p>This function turns all the LEDs for a set amount of time and then turns them off.</p>
<div class="sample_code">
LED led;
led.flash_all(BLUE, 1000);
</div>

</div><!--//copy -->
<!--//video -->
<div class="clear"></div>

</div>
