{% layout 'theme.JBS.blank' %}


<div class="inner-welcome" id="page-content-wrapper">
<span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<div class="copy">
  <h2>Follow the instructions below to get started on your friendship adventure!</h2>
</div>

<div class="setup">
  <h4>Step 1</h4>
</div>

<p><a href="/pages/charging">Charge</a> your Jewelbot!</p>

<h4>Step 2</h4>

<p>To begin connecting with your Jewelbot with your friends' Jewelbots, you will need to <a href="/pages/pairing">pair them.</a></p>

<h4>Step 3</h4>

<p>Once you have paired your Jewelbots, you and your friends can begin <a href="/pages/messaging/">messaging each other!</a><p>


</div><!--//copy -->
<!--//video -->
<div class="clear"></div>


</div>
