{% layout 'theme.JBS.support' %}

{% section 'JBS_howto__section_sidebar' %}

<div class="welcome" id="page-content-wrapper">
<h2 class="topic"><span>How to pair your Jewelbot with a friend?</span></h2>
<!--<p></p>-->
<div class="instructions">
<div class="copy">
  <p>Pairing your Jewelbot with a friend can happen completely out of the box without a computer or phone!  </p>
  If you receive a device in the child proof plastic packaging, you need to complete the <a href="/pages/firmware">Update Firmware</a> step before pairing or messaging.
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pQFnPt3i_Bk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div><!--//video -->
  <h3><span>1. Make sure your Jewelbot is unplugged.</span></h3>
  <p> This is because pressing the Magic Button while your Jewelbot is plugged will put your Jewelbot into Upload Mode, which is for coding. </p>

  <h3><span>2. </span>Make sure your Jewelbot is on.</h3>
    <p>You can turn it on by pressing the Magic Button. It should light up in rainbow animation mode to show it turning on.</p>

  <h3><span>3. </span>Put your devices in Pairing Mode by holding down the Magic button for 2 seconds</h3>
    <p>It should light up with all white LEDs (LEDs are lights!). Also, remember it's 2 full seconds (1 mississippi...2 mississippi...)! </p>

  <h3><span>4. </span>Have the two jewelbots within two feet of each other in Pairing Mode.</h3>
    <p> When both devices have found each other in pairing mode, they will start cycling through 4 single colors.</p>

  <h3><span>5. </span>Choose a Friendship Color!</h3>
    <p>The Jewelbot will cycle through 4 colors options that could be your Friendship Color. The Friendship Color is how your Jewelbots remember each other. You can have multiple friends as the same Friendship Color to create friend groups! However, Jewelbots can only pair two at a time! </p>

  <h3><span>6. </span>Push the Magic Button when your Friendship Color shows up in the cycle.</h3>
    <p>Must select the same color to be correctly paired. Both Jewelbots will flash the Friendship Color you have chosen if done correctly. Restart from step 2 if an error occurs.</p>

</div><!--//copy --></div>
</div>
<div class="clear"></div>
<script>
document.getElementById('section_newsletter').style.visibility="hidden";
</script>
