{% layout 'theme.JBS.support' %}
{% section 'JBS_howto__section_sidebar' %}

<div class="welcome" id="page-content-wrapper">

<h1>Welcome, Traveler!</h1>
We're so happy to have you join us in your quest to learn all about how to have fun with your Jewelbots. This guide is designed to help you learn all about your Jewelbots and make your experience as smooth and easy as possible. If you hit any snags on your journey, or want to share your progress you can join us on <a href="http://community.jewelbots.com"> our community site.</a>

If you're just unwrapping your device, the first step is charging your Jewelbots. You can read all about that here.
<span class="jbot_onboarding">
{{ 'go_section_meet__background_1_large.jpg' | asset_url | img_tag }}</span>
</div>
<div style="clear: both;"></div>
