{% layout 'theme.JBS' %}

{% section 'JBS_ambassador__section_hero__img' %} <!-- part of shopify template, visit page: https://jewelbots.myshopify.com/admin/themes/173464593/editor#/pages/template_1 -->

<!-- section_copy  ⬇ ..ASSETS/JBS__style.css -->
<div class="section_copy" id="learn_more">
	<div class="opening">
		<h2>Become a Jewelbots Ambassador</h2>
		<p>Girls who love to get in on the latest trends, have strong opinions, and want to add a tech twist to their life are perfect for becoming Ambassadors of Jewelbots. Anyone between the ages 8 to 18 with a creative mind has the opportunity to share with Jewelbots their opinions and help to shape our products, design, and brand!</p>
	</div>
	<img src="{{ 'JBS_ambassador__section_content__v1.jpg' | asset_url }}" />
	<p>By signing up to be an Ambassador for Jewelbots, you sign up to receive VIP access to early announcements and exclusive offers in return for sharing your thoughts in surveys and reviewing content!! The role of Ambassadors will evolve with the brand and focus on helping to spread the word about Jewelbots around the world!</p>
	<p>And for being the real Ambassador MVP, Jewelbots would thank you by sending some swag bags of interactive products and more!</p>
	<h3>Stop procrastinating and sign up to join the party now! It will only take a minute! Make sure to input your address if you'd like to get stuff in the mail.</h3>
	<a class="cta" href="http://alpha.jewelbots.com/signup" target="_blank">Sign-up!</a>
	<div class="clear"></div>
	<div class="hr dashed"></div>
</div>
<!-- section_copy  ⬆ -->
