{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">

<h1>Welcome, Traveler!</h1>
We're so happy to have you join us in your quest to learn all about how to have fun with your Jewelbots. This guide is designed to help you learn all about your Jewelbots and make your experience as smooth and easy as possible. If you hit any snags on your journey, or want to share your progress you can join us on <a href="http://community.jewelbots.com" target="blank"> our community site.</a>
<br>
<br>



<div>
<center><table style="width:80%">
  <tr>
    <th><h2>Friends & Messaging</h2></th>
    <th><h2>Coding</h2></th>
  </tr>
  <tr>
    <td><a href="/pages/friends-setup/" ><span class="jbot_welcome_buttons">
      {{ 'button_no_coding.png' | asset_url | img_tag }}</span></a></td>

    <td><a href="/pages/get-started/" ><span class="jbot_welcome_buttons">
      {{ 'button_coding.png' | asset_url | img_tag }}</span></a></div></td>
  </tr>
</table></center>
</div>
<div style="clear: both;"></div>
