{% layout 'theme.JBS.blank' %}


<div class="inner-welcome" id="page-content-wrapper">
<span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<div class="copy">
  <h2>First time? Follow the instructions below to get started on your coding adventure!</h2>
  <h3>If you'd prefer to watch a video to help you get started, head on over to
  <a href="http://www.youtube.com/watch?v=FT5mBt-rBI4" target="_blank">You Tube.</a></h3>
</div>

<h4>Step 1</h4>

<p><a href="/pages/charging">Charge</a> your Jewelbot!</p>


<h4>Step 2</h4>

<p>To begin coding your Jewelbot, you will need to <a href="/pages/arduino">download the Arduino IDE.</a></p>

<h4>Step 3</h4>

<p>The Arduino IDE is a programming environment that let's you code for lots of different things. You need
to set it up to work with Jewelbots, so follow the steps to <a href/pages/boards">add the Jewelbots boards.</a> </p>

<h4>Step 4</h4>

<p>Once you have Arduino downloaded & the boards installed, you can begin by <a href="/pages/sketch">creating & uploading a new sketch.</a></p>

<h4>Step 5</h4>

<p>Upload a <a href="/pages/samples">sample sketch</a> to make sure everything is working correctly!</p>

<h4>Step 6</h4>

<p>Code away! If you have a friend with a Jewelbot head over to <a href="/pages/friendship-library">friendship coding</a>.

If not, head over to <a href="/pages/about-library">solo coding</a> for instructions. </p>

<h4>Step 7</h4>

<p>Share what you build! Head over to our <a href="http://alpha.jewelbots.com">community site </a>to see what other people have made or show off your coding skills! </p>
</div><!--//copy -->
<!--//video -->
<div class="clear"></div>


</div>
