{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">
<span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<h2 class="topic"><span>How to Remove the Jewelbots Charm</span></h2>
<!--<p></p>-->
  <div class="instructions">
    <div class="copy">
     Lift charm up vertically while twisting slightly.
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0WjzeV2JxKY" frameborder="0" allowfullscreen></iframe>
      </div><!--//video -->
    </div><!--//copy -->
  </div><!--//instructions -->

<h2 class="topic"><span>How to Change the Jewelbots Band</span></h2>
<!--<p></p>-->
  <div class="instructions">
    <div class="copy">
     Jewelbots come with two color bands. Watch the video below to see how to interchange them.
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SDs1ZIQUu8k" frameborder="0" allowfullscreen></iframe>
      </div><!--//video -->
    </div><!--//copy -->
  </div><!--//instructions -->

</div> <!-- inner welcome -->
<div class="clear"></div>

<script>
document.getElementById('section_newsletter').style.visibility="hidden";
</script>
