{% layout 'theme.JBS.support' %}

{% section 'JBS_howto__section_sidebar' %}
<div class="welcome" id="page-content-wrapper">

<div class="section_faqs">
<h2>Jewelbots FAQs</h2>
	<p class="subheadline">If you don't see your question here please head ovr to our forums and we will get back to you ASAP.</p>
	<p>For more help, please contact us at <a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a> for more help.</p>
	<div><!-- BATTERY - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - -->
		<h4 class="topic">Battery</h4>
		<div class="question_container">
			<h4 class="question">How do I charge my Jewelbot?</h4>
			<div class="answer">
				Turn on your Jewelbot. Lift charm up vertically while twisting slightly. Then plug micro USB into the available port on the Jewelbot. Afterwards, plug the USB on the other side of the cable into a power source.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How long should I charge my Jewelbot?</h4>
			<div class="answer">
				Approximately 2-3 hours if fully drained of battery.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How long does the battery last before I have to charge it again?</h4>
			<div class="answer">
				The Jewelbot can last about 10 hours if constantly on and in use before being charged again.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How will I know if my Jewelbot is charging or not?</h4>
			<div class="answer">
				Your Jewelbot has to be turned on when charging. If properly being charged, the Jewelbot will have a red light on.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How will I know if my Jewelbot is done charging?</h4>
			<div class="answer">
				When fully charged, the Jewelbot will have a green light when the battery is full.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">My Jewelbot is not charging! Why?!</h4>
			<div class="answer">
				Some suggestions to solve this would be:
				<ul>
					<li><span>•</span> Press the Magic Button briefly to make sure your Jewelbot is not in Sleep Mode. Your Jewelbot has to be on in order for it to show notification that it is charging.</li>
					<li><span>•</span> Make sure you are using a high quality micro USB; preferably the one we sent with your original package!</li>
					<li><span>•</span> Try connecting your Jewelbot to a high quality power source, such as directly to your computer rather than a external USB hub.</li>
					<li><span>•</span> Try removing other USB accessories from your computer, and only having the Jewelbot plugged in.</li>
				</ul>
				If none of these help, please email us at hi@jewelbots.com
			</div>
		</div><!--//question_container -->
	</div>
	<div><!-- PAIRING - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - -->
		<h4 class="topic">Pairing</h4>
		<div class="question_container">
			<h4 class="question">How do I know when my Jewelbot is in pairing mode?</h4>
			<div class="answer">
				Your device will flash white on all 4 LEDs if in pairing mode. If another device is detected nearby to also be in pairing mode, then both devices will start cycling between 4 colors. If there are no other Jewelbots around to pair with, hit the magic button again to turn off pairing mode.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">Why is my Jewelbot not able to pair correctly with another Jewelbot?</h4>
			<div class="answer">
				When you press the magic button of your Jewelbots, it should flash white. If your device detects another Jewelbot in pairing mode nearby, then both will rotate between 4 colors. Pick an LED color to match the two Jewelbots by (it's okay if they are not chosen in sync). You press the magic button to choose the color. Now when the two Jewelbots are close to each other, they will always blink in that color. When they move apart, it should stop blinking that color.
				<br /><br />
				If you feel that you have paired them incorrectly, try repeating the pairing steps.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">Do I need to have matching friendship colors with the Jewelbot I want to pair with?</h4>
			<div class="answer">
				Yes. Friendship features work based around color friend groups.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How far away can Jewelbots be from each other?</h4>
			<div class="answer">
				The Jewelbot is able to detect a friend within 30 - 50  feet from each other depending on surroundings. However, pairing must be done when the Jewelbots are within 2 feet of each other. Messaging mode requires a strong connection and works best the closer the Jewelbots are to each other.
			</div>
		</div><!--//question_container -->
	</div>
	<div><!-- MESSAGING - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -->
		<h4 class="topic">Messaging</h4>
		<div class="question_container">
			<h4 class="question">How long of a message can I send to another Jewelbot?</h4>
			<div class="answer">
				A Jewelbot message can contain up to 16 buzzes of either short or longs.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How long should I wait before sending another message to another Jewelbot?</h4>
			<div class="answer">
				You don’t have to wait, just keep sending them! You do have to enter messaging mode and select your friend color group each time before sending a new message though.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">Why is there a delay in messages being sent to my Jewelbot or my friend’s Jewelbot?</h4>
			<div class="answer">
				Depending on how far away the Jewelbots are from each other, there might be a delay in receiving messages. If too far away, the message might not even be sent entirely.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">Why isn’t my Jewelbot sending/receiving messages?</h4>
			<div class="answer">
				This may be because it is not properly paired with whoever is trying to send you a message.
				<br /><br />
				Your Jewelbot may be too far away from whoever is trying to message you has moved out of range, or lost connection signal. Try turning your Jewelbot on and off.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">Why is my Jewelbot receiving messages when I wasn’t sent one?</h4>
			<div class="answer">
				If your Jewelbot was sent a message when a friend was in range to you, but you became out of range or lost signal before the message was sent then you might have received that message when your Jewelbot becomes in range or gains signal again.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How come my Jewelbot only cycles through one or two colors even though I have more friendship color groups than that?</h4>
			<div class="answer">
				When in messaging mode, the Jewelbot will only cycle through friendship color groups nearby you. (i.e. if only red and green friends are nearby, then it will only cycle between red and green for you to choose from).
			</div>
		</div><!--//question_container -->
	</div>
	<div><!-- GENERAL - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - -->
		<h4 class="topic">General</h4>
		<div class="question_container">
			<h4 class="question">Why does my Jewelbot light up randomly?</h4>
			<div class="answer">
				Your Jewelbot might appear to light up randomly depending on the interaction you have with your friends’ and their Jewelbots.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">What does the rainbow animation lights mean?</h4>
			<div class="answer">
				The rainbow animation lights happen to show when your Jewelbot is turning on. Half a rainbow animation with a fading out effect happens to show your Jewelbot is turning off.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How should I clean my Jewelbot?</h4>
			<div class="answer">
				Take the charm and band off of the Jewelbot hardware piece. Soak the band and charm in some warm water and dish soap, then scrub it gently with a soft brush or towel.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">Is my Jewelbot waterproof?</h4>
			<div class="answer">
				Jewelbot devices are water resistant, but not waterproof. This means that it can handle being spilt on or splashed on, but should not be completely submerged in water.
				<br /><br />
				For example, Jewelbots can be okay in the rain, but it is suggested that it be avoided or dried after. On the other hand, the Jewelbot device should not be worn in the shower or pool. Water damage is not covered under warranty.

			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">Where are the Jewelbots for boys?</h4>
			<div class="answer">
				Although our device is aimed towards girls, our charm and band combinations are not targeted towards a specific gender. Boys are welcome to enjoy and wear the existing designs!
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">How do I turn off my Jewelbot?</h4>
			<div class="answer">
				Press the magic button for 5 seconds then let go. You should see a rainbow animation of lights that fade out.
			</div>
		</div><!--//question_container -->
		<div class="question_container">
			<h4 class="question">None of these questions are ones that I have</h4>
			<div class="answer">
				Please contact us at <a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a> for more help.
			</div>
		</div><!--//question_container -->
	</div>
	<div class="clear"></div>

	</div>
	<script>
	document.getElementById('section_newsletter').style.visibility="hidden";
	</script>
