{% layout 'theme.JBS.blank' %}

{% if page.url contains 'friendship-sample1' %}
  {% section 'JBS_howto__section_friendship_sample1' %}
{% elsif page.url contains 'friendship-sample2' %}
  {% section 'JBS_howto__section_friendship_sample2' %}
{% else %}
  {% section 'JBS_howto__section_beginner_sample1' %}
{% endif %}

<div class="clear"></div>
