{% layout 'theme.JBS.support' %}

{% section 'JBS_howto__section_sidebar' %}

<div class="welcome" id="page-content-wrapper">
<h2>Upload a Sketch</h2>
<p>A sketch is the code in your Arduino IDE that you will upload to your Jewelbots! </p>
<h3><span>1. </span> Hit the "New" button for a blank Arduino Sketch.</h3>
{{ 'go_section_instruction_screengrab5.png' | asset_url | img_tag }}

<h3><span>2. </span>Go to the Tools menu again, scroll over <i>"Board:"</i> and click on <i>"Jewelbots Firmware Update"</i>.</h3>
  <p>It will most likely appear at the bottom of the menu of Boards.</p>

<h3><span>3. </span> Go to the Tools menu and select the correct port for the Jewelbot. It is easiest if the Jewelbot is the only USB device plugged into the computer.	</h3>
  <p>a. Windows: Select the correct COM XX port
  {{ 'go_section_instruction_screengrab6a.png' | asset_url | img_tag }}
  <br>b. Mac: Select the correct /dev/cu.usberial-XXXXXX
  {{ 'go_section_instruction_screengrab6b.png' | asset_url | img_tag }}
  <br>c. Linux: Select the correct /dev/ttyUSBX.
    <img class="screengrab" src="/assets/images/go_section_instruction_screengrab10.png" />
  </p>

<h3><span>4. </span> Press and hold the Magic Button for 2 seconds while your Jewelbot is plugged in	to put your Jewelbot into Upload Mode.</h3>
    <p>Note that the charging light (red or green) will turn off. Also, remember it's 2 full seconds (1 mississippi...) </p>

<h3><span>5. </span>Press the “Upload” button to load the new firmware onto your Jewelbot. </h3>
{{ 'go_section_instruction_screengrab7.jpg' | asset_url | img_tag }}  <div class="clear"></div>
