{% layout 'theme.JBS' %}

{% section 'JBS_contact__section_hero__img' %} <!-- part of shopify template, visit page: https://jewelbots.myshopify.com/admin/themes/173464593/editor#/pages/template_1 -->

<!-- section_copy  ⬇ ..ASSETS/JBS__style.css -->
<div class="section_copy" id="learn_more">
	<h2>We'd love to help!</h2>
	<p>Did you just get your device? Head over to our <a href="/go.html">getting started page.</a></p>
	<p>Having trouble with setup? Head over to our <a href="http://alpha.jewelbots.com">forums</a> where you can check out our <a href="http://alpha.jewelbots.com/c/help/troubleshooting-faq">FAQs</a> and <a href="http://alpha.jewelbots.com/c/help">ask us questions</a> directly.
	<p>You can also go there to ask us <a href="http://alpha.jewelbots.com/c/help/questions-about-my-order">questions about your order.</a></p>
	<p>You can also email us at <a href="mailto:hi@jewelbots.com" onClick="mixpanel.track('INTERACTION', {'ACTION': 'clicked_pre_order_hero'});">hi@jewelbots.com</a>
	<p>Or, give us a call at (862)201-3065 and we will get back to you ASAP.</p>
	<p>You can also send us mail at:</p>
	<p>
		Jewelbots<br />
		50 Eldridge St, 3rd Floor<br />
		New York, NY 10002<br />
		USA<br /><br />
	</p>
	<div class="hr dashed"></div>
</div>
<!-- section_copy  ⬆ -->