{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">

<span class="jbot_onboarding">
{{ 'go_section_meet__background_1_large.jpg' | asset_url | img_tag }}</span>
</div>
<div style="clear: both;"></div>
