{% layout 'theme.JBS.blank' %}


<div class="inner-welcome" id="page-content-wrapper">
<span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<div class="copy">
  <h2>Here are some key terms you will need to know</h2>
</div>

<h4>Boolean</h4>
<p>Booleans are values that are either TRUE or FALSE. Imagine I had a function called "is_a_primary_color(name)" in which I pass in the name of a color and the function tells me if it's a primary color with a Boolean.
If I passed the color "yellow" into that function I would get back "TRUE", if I passed in the color "pink" I would get back "FALSE".

<h4>Bugs</h4>

<p>A bug just refers to an error in your program. This term was created by programming pioneer Grace Hopper when a moth flew into her computer causing it to stop working!</p>

<h4>Compile</h4>

<p>When your code is compiling it means it is being translated for the computer to understand and use. When you hit the "compile button", the IDE will check for any bugs in your program as well.</p>

<h4>Data Type</h4>

<p>A particular kind of data that is defined by the types of values it can take.</p>

<p>For instance, the int data type can only accept numerical values. If you were to program int x = "hello", an error would occur because that is invalid.</p>

<h4>Debug</h4>

<p>Debugging is the process of solving the bugs (errors) in your program until they're all fixed!</p>

<h4>Function</h4>

<p>A function is a body of code that performs a specific task. For instance, the setup() or loop() operations are functions.</p>

<h4>Include</h4>

<p>When programming in the Arduino IDE, "#include" is how you include libraries into your program.</p>

<h4>IDE</h4>

<p>IDE stands for Integrated Development Environment. This is basically referring to the software application you are using to program your Jewelbot. The Arduino program is the Arduino IDE.</p>

<h4>Int</h4>

<p>Int(integer) is a data type that refers to variables that are numbers. When using int in your code, you must always use a lowercase "i" because programming is case sensitive.</p>

<h4>Initialize</h4>

<p>This is the process of declaring an initial value to a variable.</p>

<p>For instance, when you type "int x = 2", you are initializing the value of x to equal the value of 2.</p>

<h4>Library</h4>

<p>A library is a way to package existing code into a single file that can be easily included to your program, so your program can borrow its methods, variables, and other components.</p>

<h4>Object</h4>

<p>This is the name of variables that are not numbers or strings, but "things" that are pre-programmed into your library. They represent an "object" you are familiar with into something the computer can understand.</p>

<p>For instance, the LED is an object that represents the lights on the Jewelbot, which is an object you perceive, but the computer might not depending what library you use.</p>

<h4>Parameters</h4>

<p>A factor value that is required for an operation or method to be put into action.</p>

<h4>Pin</h4>

<p>A Number or String address on your board. It's like the name of a location on your board.</p>

<h4>Sketch</h4>

<p>The area that you are coding on. It's sort of like a document.
<p>"I have to start a new document for this homework" is just like "I have to start a new sketch for this program".</p>

<h4>String</h4>

<p>A string is a variable that stores a sequence of characters, usually letters. "String" data types must always be programmed with a capital "S" because programming is case sensitive.</p>

<h4>Upload</h4>

<p>When you upload code, your computer transfers the information to your device, such as a Jewelbot.</p>

<h4>Void</h4>

<p>The word "void" before every function is to declare it as a function that runs code normally, but does not produce some form of an output or result for the user.</p>

<h4>Variable</h4>

<p>Variables contain a data value that is remembered by the program. These values can either be strings, integers, or objects.</p>
</div><!--//copy -->
<!--//video -->
<div class="clear"></div>


</div>
